<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
      
    />
    <!-- <title>Get Set Cube-Client</title> -->
    
    <!-- <title>Get Set Cube-Client</title> -->
    <title>
     <img alt="logo" src={assets/cadLogo.png} /> 
      Get Set Cube-Client</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
